* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: lightgray;
}

.navbar {
  position: relative;
  width: 500px;
  height: 50px;
  background-color: black;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  position: relative;
  display: inline-block;
  font-size: 1.15em;
  font-weight: bold;
  color: white;
  padding: 0 30px;
  z-index: 1;
}

span {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  background-color: orange;
  border-radius: 7px;
  transition: 0.25s;
}

.navbar a:nth-child(1):hover ~ span {
  left: 0;
}

.navbar a:nth-child(2):hover ~ span {
  left: 117px;
}

.navbar a:nth-child(3):hover ~ span {
  left: 237;
}

.navbar a:nth-child(4):hover ~ span {
  left: 380;
}
